{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    {%if profile_id%}
    <div style="color:red;" ><strong><i>{{name}}   </i></strong></div >
    <div >
        following : {{following}}
        <br>
        followers : {{followers}}
    </div>
    {% if user.is_authenticated %}
    {%if user.id != profile_id %}
        {%if follows%}
        <a href="{% url 'unfollow' profile_id%}" method="POST" class="btn btn-primary btn-lg" name="removefollow">unfollow</a>
        {%else%}
        <a href="{% url 'addfollow' profile_id%}" method="POST" class="btn btn-primary btn-lg" name="addfollow">follow</a>
        {%endif%}
    {%endif%}                                                                    
    {%endif%}
    {%endif%}
    {% if user.is_authenticated %}
    <a href="{% url 'addpost'%}" class="btn btn-primary btn-lg" name="addpost">NEW POST</a>
    {%endif%}
    
        <h2 style="color:gray;">posts</h2>
    <div class="container">
        <main class="tm-main">            
            <div class="row tm-row">
                {% for post in all_posts %}
                <article height='100px' >
                    <hr  class="tm-hr-primary">
                    <div>created by <a href="{% url 'profile' post.user_id.id%}"> {{post.user_id.username}}</a></div>
                    

                    <div class="card" style="width: 50rem; height: auto;">
                        <div class="card-body">
                            <h5 class="card-title">{{post.description}}</h5>
                        </div>
                        {% if post.img %}
                        <img style="height:270px;" class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
                        {% endif %}    
                        <p class="card-text" style="color:red;" ><small  >created in : {{post.created}}</small></p>
                    </div>
                    <div>{{post.likes_num}} likes </div>


                    {% if user.is_authenticated %}

                    {%for like in all_likes%} 
                    {%if like.post_id.id == post.id and like.user_id.id == user.id%}
                   
                    <div><a href="{% url 'unlike' post.id%}" class="btn btn-primary" id="unlike" name="unlike">unlike</a></div>

                    {%endif%}
                    {%endfor%}

                    <div><a href="{% url 'like' post.id%}" class="btn btn-primary " id="like" name="like">like</a></div>
                    
                    {% endif %} 


                    {% comment %} {% liked = "True"%} {% endcomment %}
                    <!--
                    <div><a href="{% url 'like' post.id%}" class="btn btn-primary " name="like">like</a></div>
                    <div><a href="{% url 'unlike' post.id%}" class="btn btn-primary " name="unlike">unlike</a></div>
                    -->
                    {% comment %} {%if post.id in all_likes.post_id_id %} {% endcomment %}



                    {% comment %} {%if like.post_id.id == post.id%} {% endcomment %}
                    
                    

{% comment %}          
                    {%for like in all_likes%}
                    {%if like.post_id.id != post.id and like.user_id.id == user.id%}
                    
                     {% endcomment %}
                    

                    {% comment %} {%endif%}
                    {%endfor%} {% endcomment %}


                    
                    {% comment %} {%for like in all_likes%}
                    {%if like.post_id.id != post.id and like.user_id.id != user.id%}
                    <div><a href="{% url 'like' post.id%}" class="btn btn-primary " name="like">like</a></div>
                    {%endif%}
                    {%endfor%} {% endcomment %}
                    
                    
                            {% comment %} <div>
                            {% with all_likes.post.id.count as total_likes %}
                                {{ total_likes }} likes
                            {% endwith %}
                            </div>
                     {% endcomment %}


                        <div>
                            <hr  class="tm-hr-primary">
                            <div><strong>Comments</strong></div>
                            <hr  class="tm-hr-primary">

                            {%for comment in comments%}
                            {% if comment.post_id.id == post.id %}
                                {% comment %} <article  class="col-12 col-md-6 tm-post"> {% endcomment %}
                                    <div><i style="color:Gray;">by : {{comment.user_id}}</i></div>
                                    {{comment.comment}}
                                    <div> <i><small style="color:red;">created  : {{comment.created}}</small> </i></div>
                                    <hr>
                                {% comment %} </article> {% endcomment %}
                            {%endif%}    
                            {%endfor%}
                        </div>
                    
                    {% if user.is_authenticated %}
                    <form style="width:450px; left:300px;"  class="input-group" action="{% url 'addcomment' post.id %}" method="POST">
                    {% csrf_token %}
                    <span style=" color:DodgerBlue;" class="input-group-text">comment</span>
                    <textarea class="form-control" name="newcomment" aria-label="With textarea"></textarea>
                    <input class="btn btn-primary" type="submit" value="send">
                    </form> 
                    {%endif%}
                    <hr>
                    {%if post.user_id.id == user.id%}
                    <div><a href="{% url 'edit' post.id%}" class="btn btn-primary"  name="edit">edit</a></div>
                    {%endif%}
                    
                    
                </article>
                {%endfor%}
            </div>

{% endblock %}

{% block script %}
<script>    </script>

    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
