{% extends "network/layout.html" %}
{% load static %}
{% block body %}


    {%if profile_id%}
    <div style="color:red;" ><strong><i>{{name}}   </i></strong></div >

    <div class ="following">
    <div >
        following : {{following}}
        <br>
        followers : {{followers}}
    </div>

    
    {% if user.is_authenticated %}
    {%if user.id != profile_id %}
        {%if follows%}
        <form class="unfollow" action="{% url  'unfollow' profile_id %}">
            {% csrf_token %}
            <input class="btn btn-primary"  type="submit" value="unfolllow">
        </form>
        <br>

        {%else%}

        
        <form class="follow" action="{% url  'addfollow' profile_id %}" >
            {% csrf_token %}
            <input class="btn btn-primary"  type="submit" value="folllow">
        </form>
        <br>

        {%endif%}
    {%endif%}                                                                    
    {%endif%}
    {%endif%}
    </div>
    {% if user.is_authenticated %}
    
    <a href="{% url 'addpost'%}" class="btn btn-primary btn-lg" name="addpost">NEW POST</a>

    {%endif%}

    
        <h2 style="color:gray;">posts</h2>
    <div  class="container">
        <main class="tm-main">            
            <div id='total' class="row tm-row">
            {% for post in all_posts %}



                <article height='100px' >
                    <hr class="hrfasel" >
                    <div>created by <a href="{% url 'profile' post.user_id.id%}"> {{post.user_id.username}}</a></div>
                    

                    <div class="card" style="width: 50rem; height: auto;">
                        <div class="card-body">
                            <h5 class="card-title">{{post.description}}</h5>
                        </div>
                        {% if post.img %}
                        <img style="height:270px;" class="card-img-top" src="{{post.img.url}}" alt="Card image cap">
                        {% endif %}    
                        <p class="card-text" style="color:red;" ><small  >created in : {{post.created}}</small></p>
                    </div>
                    


        {% if user.is_authenticated %}


        <p class="card-text">
                <div id="like_{{post.id}}"  data-id="{{post.id}}" >
                    <div id='countLiked'>{{post.likes}} likes </div>
                    <br>
                    {% if post.current_like > 0 %}
                     <a href="{% url 'unlike' post.id %}"  id="unlike_{{post.id}}"  data-id="{{post.id}}"  class="buttonunlike">unlike</a> 
                    {%else%}
                     <a href="{% url 'like' post.id %}"  id="like_{{post.id}}"  data-id="{{post.id}}" class="buttonlike">like</a> 
                    {% endif %} 
                      
                </div>
        </p>

        
         {%endif%}
        
             <div>
                 <hr  class="tm-hr-primary">
                 <div><strong>Comments</strong></div>
                 <hr  class="tm-hr-primary">
                 <div id="all_comments_{{post.id}}" data-id="{{post.id}}" >
                 {%for comment in post.comments%}
                         <div><i style="color:Gray;">by : {{comment.user_id}}</i></div>
                         {{comment.comment}}
                         <div> <i><small style="color:red;">created  : {{comment.created}}</small> </i></div>
                         <hr>
                 {%endfor%}
                 </div>
             </div>
         
         {% if user.is_authenticated %}
         <form style="width:450px; left:300px;"   class="comment-form" id="comment_form_{{post.id}}" data-id="{{post.id}}"  action="{% url 'addcomment' post.id %}"  method="POST">

         {% csrf_token %}
         <span style=" color:DodgerBlue;" class="input-group-text">comment</span>
         <input class="form-control" class="newcomment" name="newcomment" id="newcomment" aria-label="With textarea"></input>
         <input class="btn btn-primary" type="submit" value="send">
         </form> 
         {%endif%}
         <hr>
         {%if post.user_id.id == user.id%}
         <div><a href="{% url 'edit' post.id%}" class="btn btn-primary"  name="edit">edit</a></div>
         {%endif%}
         


                    
                </article>
                {%endfor%}
            </div>

{% endblock %}

{% block script %}
<script>    </script>

    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
